@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/OpenSans-Regular-webfont.eot'),
         url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Regular-webfont.woff2') format('woff2'),
         url('fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1, h2
{
    font-family:'Arial', sans-serif;
    display: flex;
}

h1
{
	font-size: 2.7em;
}

h3	
{
	width: 40%;
}

#nom
{
	color: #FECA07;
}

section
{
}

#page
{
    justify-content: center; 
    display: flex;
    margin-right: auto;
    margin-left: auto;
	max-width: 850px;
	border: 1px solid black;
}

#devel
{
	text-decoration: underline #FECA07;
}

.separation
{
	height: 1px;
	width: 65px;
	background-color: #FECA07;
}

#lisere
{
    background-color: #FECA07;
    width: 30%;
}

			.img
			{
    			display: block;
    			border-radius: 130px;
                margin: auto;
			}

			.propos, .info, .contact, .loisirs
			{
   				background-color: rgba(0, 0, 0, 0.8);
    			color: #FECA07;
                padding: 0.5em;
                display: flex;
                flex-direction: column;
                align-items: stretch;
			}

            .contenucontact
            {
                margin: 1em;
                height: 20%;
                text-align: center;
            }

			#liste-loisirs
			{
    			display: flex;
                list-style: none;
                height: 7em;
                padding-right: 0.5em;
			}

            .contenu-propos
            {
                margin: 0em;                
                height: 30%;
                padding-right: 2em;
                text-align: center;
            }

#entete
{
    display: inline-block;
}

            .sectionformation 
            {
    			display: flex;
    			opacity: 0.8;
    			justify-content: space-between;
            }
                
            .date-form {
            	font-size: 1.1em;
            	font-weight: bold;
            }
            .formation 
            {                   
                width: 60%;
            }
                
            .sectionexperience
            {
    			display: flex; 
    			opacity: 0.8;   
    			justify-content: space-between;
    		}

    		.date-exp {
            	font-size: 1.1em;
            	font-weight: bold;
            }

    		.titre-experience
    		{
    			border-bottom: 2px solid #FECA07;
    			width: 95%;    		}

    		.titre-formation
    		{
    			border-bottom: 2px solid #FECA07;
    			width: 95%;
    		}

    		.titre-competence
    		{
    			border-bottom: 2px solid rgb(254, 202, 7);
    			width: 95%;
    		}

            .date-exp
            {
                width: 40%;
            }

            .experience
            {
                width: 60%;
            }

			#competence
			{
    			display: inline-block; 
    			width: 100%;
    			opacity: 0.8;
			}

			#blocpage
			{
    			display: flex;
                flex-direction: column;
                margin-left: 5%;
                margin-right: 5%;
                margin-top: 80px;
                width: 70%;
			}

			body
			{
				display: flex;
				margin: 0;
			}

            a:link
			{
			text-decoration:none;
			}

            table
            {
                max-width: 800px;
                border-collapse: separate;
                border-spacing: 30px 30px;
            }

            i {
            	color: #FECA07;
            }

            li {            	
                list-style: none;
            }

           ul {list-style: none}

           li::before {content: "•"; color: #FECA07;
  			display: inline-block; width: 1em;
 	 		margin-left: -1em}

 	 		.h2 { font-weight: bold;
 	 		font-size: 1.5em;
 	 		font-family:'Arial', sans-serif;
    		display: flex; }

@media screen and (max-width: 1024px)
{

	#page
	{
		flex-direction: column-reverse;
	}

    #lisere
    {
        width: 100%;
    }

    .img
    {
        width: 50%;
    }

    #blocpage
    {
        width: auto;
        flex-direction: column;
    }

    hr
    {
        display: none;
    }
    .contenucontact
    {
        margin: 1em;
        height: 20%;
        text-align: center;
    }
    
    .contenu-propos
    {
    	margin: 0em;                
        height: 10%;
    }
}

	#liste-loisirs {
		justify-content: space-around;
	}


@media screen and (max-width: 480px)
{

    #page
    {
        flex-direction: column-reverse;
    }

    #lisere
    {
        width: 100%;
    }

    .img
    {
        width: 50%;
    }

    #blocpage
    {
        width: auto;
        flex-direction: column;
    }

    hr
    {
        display: none;
    }

    .contenucontact
    {
        margin: 1em;
        height: 20%;
    }

    .contenu-propos
    {
        margin: 0em;                
        height: 10%;
    }

    h1 {
        flex-wrap: wrap;
    }

    #liste-loisirs {
		justify-content: space-around;
	}
}